<!-- {{name}} Chart -->
	<svg x="{{x}}" y="{{y}}" width="{{width}}" height="{{height}}">
		<rect
			width="100%" height="100%"
			fill="{{background_color}}" fill-opacity="{{background_opacity}}"/>
		<g transform="translate({{padding}},{{padding}})">
			<path d="{{path_data}}" stroke="{{path_color}}" fill="none"/>
		</g>
		{{{label_svg}}}
	</svg>