<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1296 972">
	<text x="1291" y="1em" font-size="22" fill="green" text-anchor="end">{{frame_date}}</text>
	<text x="1291" y="2em" font-size="22" fill="green" text-anchor="end">{{frame_time}}</text>
	<g transform="translate(5,657)">
		<rect width="110" height="310" fill="white" fill-opacity="0.4"/>
		<g transform="translate(5,5)">
			<path d="{{depth_data}}" stroke="green" fill="none"/>
		</g>
	</g>
</svg>