<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
	width="{{width}}" height="{{height}}" viewBox="0 0 {{width}} {{height}}">

	<!--<image xlink:href="{{frame_path}}" width="{{width}}" height="{{height}}"/>-->

	<!-- Date and Time -->
	<text x="{{datetime_x}}" y="1em" font-size="{{font_size}}" fill="{{text_color}}" text-anchor="end">{{frame_date}}</text>
	<text x="{{datetime_x}}" y="2em" font-size="{{font_size}}" fill="{{text_color}}" text-anchor="end">{{frame_time}}</text>

	{{{depth_chart}}}

	{{{temperature_chart}}}

</svg>